@if (loading()) {
  <p>Logging in...</p>
}

@if (error()) {
  <p class="error">{{ error() }}</p>
}

<div id="login-container">

  <h2> Login to account </h2>

  <form [formGroup]="userForm" (ngSubmit)="submit()" class="form">

    <div class="form-control">
      <label for="email">Email</label>
      <input  id="email" formControlName="email" placeholder="Email" />
    </div>
    <div class="form-control">
      <label for="password">Password</label>
      <input id="password" formControlName="password" placeholder="Password" />
    </div>
    <div class="form-control" id="forgot-password">
      <a routerLink="/register">
        Forgot Password
      </a>
    </div>

    <button class="form-submit-btn" type="submit">Submit</button>

    <div class="form-control" id="not-registered">
      <p> Not a member? </p>
      <a routerLink="/register">
        Create new account!
      </a>
    </div>

  </form>

</div>
