<div id="user-container">

  <h2> Login to account </h2>

  <form [formGroup]="userForm" (ngSubmit)="submit()" class="form">

    <div class="form-control">
      <input id="email" formControlName="email" placeholder="Email" />
      @if (userForm.get('email')?.invalid && (userForm.get('email')?.touched)) {
        <div class="error">
          @if (userForm.get('email')?.errors?.['required']) {
            <p>Email is required</p>
          } @else if (userForm.get('email')?.errors?.['email']) {
            <p>Enter a valid email</p>
          }
        </div>
      }
    </div>

    <div class="form-control">
      <input id="password" formControlName="password" placeholder="Password" />
      @if (userForm.get('password')?.invalid && (userForm.get('password')?.touched)) {
        <div class="error">
          @if (userForm.get('password')?.errors?.['required']) {
            <p>Password is required</p>
          }
        </div>
      }
    </div>

    <div class="form-control" id="forgot-password">
      <a routerLink="/register">
        Forgot Password
      </a>
    </div>

    @if (error()) {
      <p class="error">{{ error() }}</p>
    }

    <app-loading-component
      [visible]="isLoading(key)"
      [label]="'Login'">
    </app-loading-component>

    <div class="form-control">
      <div id="turnstile-login" appTurnstileDirective></div>
    </div>

    <button class="form-submit-btn" type="submit">Submit</button>

    <div class="form-control" id="bottom-route">
      <p> Not a member? </p>
      <a routerLink="/register">
        Create new account!
      </a>
    </div>

  </form>

</div>
