.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  input {
    padding: 0.5rem 1rem;
    background-color: hsl(0, 0%, 90%);
    border-radius: 4px;
  }

  .error {
    color: var(--red);
  }

  p {
    font-size: 0.8rem;
  }
}
