form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  button.form-submit-btn {
    padding: 0.5rem 0;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--sage-green);
    color: hsl(0, 0%, 100%);
    transition: all 0.2s ease;
    transform: translateY(0);

    &:hover {
      background-color: var(--yellow-green);
      transform: translateY(-2px);
    }

    &.disabled {
      border: 1px solid #f3f4f6;
      background-color: #f3f4f6;
      color: hsl(0, 0%, 50%);
      cursor: not-allowed;
      transform: translateY(0);
    }
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  input {
    padding: 0.5rem 1rem;
    background-color: hsl(0, 0%, 90%);
    border-radius: 4px;

    &:disabled {
      cursor: not-allowed;
    }
  }
}

a,
p {
  font-size: 0.8rem;
}

.error {
  color: var(--red);
  align-self: flex-start;
}
