@if (error()) {
  <p class="error">{{ error() }}</p>
}

<div id="user-settings">

  <section id="email-section">
    <app-loading-component
      [visible]="isLoading(emailKey)()"
      [label]="'User Email'">
    </app-loading-component>
    <div class="form-control">
      <input id="email" value="{{ email() }}" disabled>
    </div>
  </section>

  <section id="password-section">
    <h2> Change password </h2>
    <form [formGroup]="passwordForm" class="password-form" (ngSubmit)="submitPasswordForm()">
      <div class="form-control">
        <input
          id="text" type="text"
          formControlName="password"
          value=""
          placeholder="New password"
        >
        <input
          id="text" type="text"
          formControlName="confirmPassword"
          value=""
          placeholder="Confirm password"
        >
      </div>
      @if (passwordFormError()) {
        <p class="error"> {{ passwordFormError() }} </p>
      }
      <div class="form-control">
        <div id="turnstile-password" appTurnstileDirective></div>
      </div>
      <app-loading-component
        [visible]="isLoading(passwordKey)()"
        [label]="'User Password'">
      </app-loading-component>
      <button
        type="submit"
        class="form-submit-btn"
        [disabled]="isLoading(passwordKey)()"
      >
        Change Password
      </button>
    </form>
  </section>

</div>
