#user-settings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 4px;
  border: 1px solid black;

  > :not(:first-child) {
    padding-top: 1rem;
    border-top: 1px solid hsl(0, 0%, 90%);
  }

  > * {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

h2 {
  font-size: 0.9rem;
  font-weight: 600;
}

