header {
  padding: 1rem 3rem;

  @media (max-width: 800px) {
    padding: 0.75rem 1rem;
  }
  @media (max-width: 480px) {
    padding: 0.5rem 0.75rem;
  }

  nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: stretch;

    @media (max-width: 314px) {
      grid-template-columns: 1fr; /* stack items */
    }
  }
}

section {
  display: flex;
  justify-content: space-between;
}

.icon {
  display: inline-flex;
  align-self: end;

  app-movie-svg,
  app-user-svg {
    aspect-ratio: 1;
    width: 40px;
    display: block;

    @media (max-width: 800px) {
      width: 32px;
    }
    @media (max-width: 480px) {
      width: 28px;
    }

    ::ng-deep svg path {
      fill: var(--sage-green);
    }
  }
}

#logo-section {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  gap: 0.5rem;

  .text {
    h2 {
      &:first-child {
        color: hsl(0, 0%, 0%);
      }

      &:last-child {
        color: var(--sage-green);
      }
    }
  }
}

#user-section {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  gap: 0.5rem;
}

#page-section {
  @media (min-width: 800px) {
    margin-left: 2.5rem;
  }
  @media (max-width: 314px) {
    order: 3;
  }
}

.text,
h2 {
  display: inline-flex;
  align-self: end;
}

h2 {
  font-weight: 600;

  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

ul {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;

  @media (max-width: 480px) {
    gap: 0.25rem;
  }
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

a,
button {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;

  @media (max-width: 480px) {
    padding: 0.2rem 0.4rem;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
    color: var(--gray-700);
  }
}
