.offers-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.offer-card {
  display: flex;
  align-items: stretch;

  background-color: var(--cream);
  border: 2px solid var(--green);
  border-radius: 4px;

  > * {
    box-sizing: border-box;
  }

  h3 {
    font-size: 2rem;
    color: var(--green);
  }

  p {
    font-size: 1rem;
    color: var(--green);
  }

  .main {
    flex: 0 1 300px;
    align-self: stretch;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem;
    border-right: 1px solid var(--green);
  }

  .other {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;
    padding: 0.5rem 1rem 1rem 0.5rem;

    .top {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .effect {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        background-color: var(--green);
        border-radius: 50%;
        padding: 0.5rem;

        p {
          color: var(--cream);
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .top, .bottom {
      flex-wrap: wrap;
      gap: 0.3rem;
      font-weight: 600;
      font-size: 2rem;
    }
  }
}
