:host {
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:host {
  --color-1: oklch(0.175 0.032 165.0);
  --color-2: oklch(0.206 0.045 165.0);
  --color-3: oklch(0.269 0.083 165.0);
  --color-4: oklch(0.318 0.113 165.0);
  --color-5: oklch(0.363 0.138 165.0);
  --color-6: oklch(0.413 0.161 165.0);
  --color-7: oklch(0.480 0.183 165.0);
  --color-8: oklch(0.566 0.202 165.0);
  --color-9: oklch(0.609 0.192 165.0);
  --color-10: oklch(0.662 0.178 165.0);
  --color-11: oklch(0.831 0.115 165.0);
  --color-12: oklch(0.912 0.068 165.0);

  --hunter-green: #386641ff;
  --sage-green: #6a994eff;
  --yellow-green: #a7c957ff;
  --vanilla-cream: #f2e8cfff;
  --blushed-brick: #bc4749ff;
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
}

p {
  margin: 0;
  color: var(--gray-700);
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
}

.content h1 {
  margin-top: 1.75rem;
}

.content p {
  margin-top: 1.5rem;
}
