.booking-container {
  width: fit-content;
  margin: 2rem auto;
  padding: 2rem;
  background: hsl(0, 0%, 100%);
	border-radius: 8px;
	box-shadow: 0 6px 18px hsla(210, 30%, 10%, 0.1);

  h1 {
    text-align: start;
    margin-bottom: 2rem;
  }

  .no-seats {
    text-align: center;
    padding: 2rem;

    button {
      margin-top: 1rem;
      padding: 0.75rem 2rem;
      font-size: 1rem;
      background: #2196F3;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: #0b7dda;
      }
    }
  }
}

.booking-details {
  h2, h3 {
    margin-bottom: 1rem;
  }

  .ticket-summary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    margin: 24px 0;
    padding: 16px 0;
    border-block: 1px solid hsl(0, 0%, 90%);

    .seat-info {
      flex: 0 0 auto;
    }
  }

  .booking-actions {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    button {
      font-size: 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        width: 100%;
        height: 100%;
        padding: 0.75rem 2rem;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.confirm-btn {
        width: 75%;
        background-color: var(--sage-green);
        color: white;

        &:hover {
          background-color: var(--yellow-green);
        }
      }

      &.cancel-btn {
        width: 25%;
        background-color: var(--red);
        color: white;

        &:hover {
          background-color: var(--bright-red);
        }
      }

      &.confirm-btn,
      &.cancel-btn {
        transition: all 0.2s ease;
        transform: translateY(0);

        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;

  li {
    &.ticket {
      padding: 1rem;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      border: 1px solid #e5e7eb;
    }
  }
}

.ticket-price {
  margin-left: auto;
}

li.total-price-info {
  width: fit-content;
  align-self: flex-end;

  .discounts {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    > *:not:first-child {
      border-top: 1px solid hsl(0, 0%, 10%);
    }

    .offer-pill {
      background: var(--sage-green);
      padding: 0.25rem 0.5rem;
      border-radius: 4px 4px 0 0;

      > * {
        font-size: 0.85rem;
        font-weight: 700;
        color: hsl(0, 0%, 95%);
      }
    }
  }

  .price-breakdown {
    padding: 1rem;
    border-radius: 0 0 4px 4px;
    border: 1px solid #e5e7eb;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;

    .subtotal {
      color: #374151;
      font-size: 0.95rem;
    }

    .total {
      color: #0f172a;
      font-size: 1.15rem;
    }
  }
}

.discounts {
  span {
    color: black;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
}
