<div class="booking-container">
  <h1>Zatwierdź zamowienie</h1>

  @if (selectedSeats().length > 0) {
    <div class="booking-details">
      <div class="ticket-summary">
        <ul>
          @for (seat of selectedSeats(); track seat.id) {
            <li class="ticket">
              <div class="seat-info">
                <span>Rząd: <strong>{{ seat.row }}</strong> Miejsce: <strong>{{ seat.number }}</strong></span>
              </div>
              <div class="ticket-type-display">
                <span>Typ biletu: <strong>{{ getTicketType(seat.id) }}</strong></span>
              </div>
              <div class="ticket-price">
                <span> {{ getPrice(seat.id) }}zł </span>
              </div>
            </li>
          }
          <li class="total-price-info">
            @if (getAppliedOffers().length > 0) {
              <div class="discounts">
                @for (offer of getAppliedOffers(); track offer.offerId) {
                  <div class="offer-pill">
                    <span class="offer-name">{{ offer.offerName }}: </span>
                    <span class="offer-amount">-{{ offer.discountAmount }}zł</span>
                  </div>
                }
              </div>
            }
            <div class="price-breakdown">
              <div class="subtotal">Bez rabatu: <strong>{{ getSubtotal() }}zł</strong></div>
              <div class="total">Finalnie: <strong>{{ getTotalPrice() }}zł</strong></div>
            </div>
          </li>
        </ul>
      </div>

      <div class="booking-actions">
        <button class="cancel-btn" (click)="reverseBooking()">
          <p>Wstecz</p>
        </button>
        <button class="confirm-btn" (click)="confirmBooking()">
          <p>Potwierdzam i płacę</p>
        </button>
      </div>
    </div>
  } @else {
    <div class="no-seats">
      <p>Brak wybranych miejsc</p>
      <button (click)="reverseBooking()">Wstecz</button>
    </div>
  }
</div>
