<div class="booking-container">
  <h1>Wybierz bilety</h1>

  @if (selectedSeats().length > 0) {
    <div class="booking-details">
      <div class="ticket-summary">
        <ul>
          @for (seat of selectedSeats(); track seat.id) {
            <li>
              <div class="seat-info">
                <span>Rząd: <strong>{{ seat.row }}</strong> Miejsce: <strong>{{ seat.number }}</strong></span>
              </div>
              <div class="ticket-type-selector">
                <label for="ticket-type-{{ seat.id }}">Typ biletu:</label>
                <select
                  id="ticket-type-{{ seat.id }}"
                  (change)="onTicketTypeChange(seat.id, $any($event.target).value)">
                  @for (type of availableTicketTypes; track type) {
                    <option [value]="type" [selected]="getTicketType(seat.id) === type">{{ type }}</option>
                  }
                </select>
              </div>
              <div class="ticket-price">
                <span> {{ getPrice(seat.id) }}zł </span>
              </div>
            </li>
          }
          <li class="total-price-info">
            <span> Total price: {{ getTotalPrice() }}zł</span>
          </li>
        </ul>
      </div>

      <div class="user-info">
        <form [formGroup]="userForm" class="contact-form">
          @if (emailInputEnabled) {
            <div class="form-control">
              <input
                id="email"
                type="email"
                formControlName="email"
                placeholder="Email"
              />
              <p class="error">{{ userFormError() }}</p>
            </div>
          }
        </form>
      </div>

      <div class="booking-actions">
        <button class="cancel-btn" (click)="cancelBooking()">
          <p>Anuluj</p>
        </button>
        <button class="confirm-btn" (click)="confirmBooking()">
          <p>Dalej</p>
        </button>
      </div>
    </div>
  } @else {
    <div class="no-seats">
      <p>Nie wybrano żadnych miejsc</p>
      <button (click)="cancelBooking()">Powrót do repertuaru</button>
    </div>
  }
</div>
