@if (loading()) {
  <p>Logging in...</p>
}

@if (error()) {
  <p class="error">{{ error() }}</p>
}

<div id="register-container">

  <h2> Register account </h2>

  <form [formGroup]="userForm" (ngSubmit)="submit()" class="form">

    <div class="form-control">
      <label for="email">Email</label>
      <input id="email" formControlName="email" placeholder="Email" />
    </div>
    <div class="form-control">
      <label for="password">Password</label>
      <input id="password" formControlName="password" placeholder="Password" />
    </div>

    <button class="form-submit-btn" type="submit">Submit</button>

    <div class="form-control" id="already-registered">
      <p> Already have an account? </p>
      <a routerLink="/login">
        Login!
      </a>
    </div>

  </form>

</div>
