:host {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#register-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 3rem;

  > * {
    padding: 0 1rem;
  }

  h2 {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .form-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  #already-registered {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5ch;

    a {
      color: var(--sage-green);

      &:hover {
        color: var(--yellow-green);
      }
    }
  }

  a,
  p {
    font-size: 0.8rem;
  }

  a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;

    &:hover {
      color: var(--sage-green);
    }
  }
}

button.form-submit-btn {
  padding: 0.5rem 0;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--sage-green);
  color: hsl(0, 0%, 100%);
  transition: all 0.2s ease;
  transform: translateY(0);

  &:hover {
    background-color: var(--yellow-green);
    transform: translateY(-2px);
  }
}
