<div class="movie-list">

  <ng-content></ng-content>

  @if (loading) {
    <p>Loading movies...</p>
  }

  @if (error) {
    <p class="error">{{ error }}</p>
  }

  @if (!loading && movieList.length > 0) {
    <div class="movies-container">
      @for (movie of movieList; track movie.id) {
        <div class="item-card">
          <div class="movie-card">
            <div class="movie-top">
              <h3>{{ movie.title }}</h3>
              <p class="description">{{ movie.description }}</p>
            </div>
            <div class="movie-bottom">
              <div class="details">
                <span class="duration">{{ movie.duration }} min</span>
                <span class="rating">{{ movie.rating }}</span>
              </div>
              <div class="genres">
                @for (genre of movie.genres; track $index) {
                  <span class="genre-item">{{ genre }}</span>
                }
              </div>
            </div>
          </div>

          <div class="screening-container">
            @for (screening of movie.screenings; track screening.id) {
              <button
                class="screening-item"
                [routerLink]="['/repertuar', screening.id]">
                  {{ screening.startTime }}
              </button>
            }
          </div>
        </div>
      }
    </div>
  }
</div>
