.movie-list {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.movies-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-x: auto;
}

.item-card {
  display: flex;
  width: 100%;
}

.movie-card {
  width: 50%;
  min-height: 150px;
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 1rem;
  background: white;
  flex: 0 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.movie-top,
.movie-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.movie-card h3 {
  color: var(--gray-900);
}

.description {
  color: var(--gray-700);
}

.details {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
}

.screening-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;
  max-width: 300px;
  overflow-x: auto;
}

button.screening-item {
  background-color: var(--sage-green);
  color: hsl(0, 0%, 100%);
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;

  transform: translateY(0);
  will-change: transform;
  transition: transform 250ms cubic-bezier(.2,.9,.2,1), background-color 180ms ease;

  &:hover {
    background-color: var(--red);
    transform: translateY(2px);
  }

  &:focus {
    outline: 2px solid var(--red);
    outline-offset: 2px;
    transform: translateY(2px);
  }
}

.error {
  color: var(--hot-red);
}
