#screening-container {
	padding: 1rem;
	background: #ffffff;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 1rem hsla(210, 30%, 10%, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#seat-map-container {
  align-self: center;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
  overflow-x: auto;
  padding: 0.5rem;
  width: fit-content;
}

.row {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	width: fit-content;
}

.row-label {
	flex: 0 0 1ch;
 	font-weight: 600;
 	color: #333;
 	text-align: right;
}

.seats {
	display: flex;
	gap: clamp(0px, 0.75vw, 1rem);
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
}

.loading {
	text-align: center;
	color: var(--gray-700);
	padding: 0.5rem 0 1rem 0;
}

.error-message {
	color: var(--hot-red);
	background: rgba(185, 28, 28, 0.05);
	padding: 0.5rem 1rem;
	border-radius: 6px;
	margin-bottom: 0.5rem;
}

.legend-container {
	display: flex;
	gap: 24px;
	justify-content: center;
	padding-top: 16px;
	border-top: 1px solid hsl(0, 0%, 90%);
}

.legend-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.legend-color {
  aspect-ratio: 1;
	width: 20px;
	border-radius: 50%;
	border: 1px solid hsl(0, 0%, 60%);
}

.legend-label {
	font-size: 14px;
	color: #374151;
	margin: 0;
}


#legend-available .legend-color {
	background-color: var(--sage-green);
}

#legend-selected .legend-color {
	background-color: var(--red);
}

#legend-unavailable .legend-color {
	background-color: hsl(0, 0%, 90%);
}
