* {
	margin: 0;
	padding: 0;
	border: 0;
}

main > :not(router-outlet) {
  box-sizing: border-box;
  padding: 1rem clamp(0rem, 2.5vw, 2rem);
  @media (max-width: 800px) {
    padding: 1rem 1rem;
  }
}

.turnstile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;

  .cf-turnstile {
    width: fit-content;
    height: fit-content;
  }
}
